<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="PlayPauseHotkey" serializeAs="String">
                <value>Ins</value>
            </setting>
            <setting name="PlayPauseModifiers" serializeAs="String">
                <value>Win</value>
            </setting>
            <setting name="NextTrackHotkey" serializeAs="String">
                <value>PgDn</value>
            </setting>
            <setting name="NextTrackModifiers" serializeAs="String">
                <value>Win</value>
            </setting>
            <setting name="PrevTrackHotkey" serializeAs="String">
                <value>PgUp</value>
            </setting>
            <setting name="PrevTrackModifiers" serializeAs="String">
                <value>Win</value>
            </setting>
            <setting name="SelectSongHotkey" serializeAs="String">
                <value>End</value>
            </setting>
            <setting name="SelectSongModifiers" serializeAs="String">
                <value>Win</value>
            </setting>
            <setting name="OSDOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="OSDDisplayTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="OSDPosition" serializeAs="String">
                <value>ScreenBottom</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>